<h1>Add file</h1>
<div>
    <form asp-route="file-upload/add-file"  enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="txtName">Name</label>
            <input type="text" class="form-control" id="txtName" name="Name">
        </div>
        <div class="form-group">
            <label for="txtAge">Age</label>
            <input type="text" class="form-control" id="txtAge" name="Age">
        </div>
        <div class="form-group">
            <label for="fileUpload">Upload Files</label>
            <input type="file" class="form-control-file" id="fileUpload"  name="FileUpload">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>